<div id="sidebar" class="mobile_view">
  <div class="sidebar-inside">


    <header>
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="{{ 'home'|page }}" target="_self">
          <img src="{{ 'assets/img/aeroparks_logo.png'|theme }}" alt="">
        </a>
        <button class="navbar-toggler third-button" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <div class="animated-icon3"><span></span><span></span><span></span></div>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="nav navbar-nav mx-auto">
            <li {% if this.page.id == 'home' %}class="nav-item active" {% endif %}>
              <a class="nav-link" href="{{ 'home'|page }}" target="_self">Home</a>
            </li>
            <li {% if this.page.id == 'services' %}class="nav-item active" {% endif %}>
              <a class="nav-link" href="{{ 'services'|page }}" target="_self">Services</a>
            </li>
            <li {% if this.page.id == 'about-us' %}class="nav-item active" {% endif %}>
              <a class="nav-link" href="{{ 'about-us'|page }}" target="_self">About Us</a>
            </li>
          </ul>
          <div class="signbtn_wrap">
            <a href="{{ url('/') }}/backend" class="btn btn-signin" target="_self">Current SignIn</a>
          </div>
          <div class="loyaltybtn_wrap">
            <a href="#" class="btn btn-signin" target="_self">Join Loyalty Program</a>
          </div>
        </div>

      </nav>
      <!--Navbar-->
    </header>

  </div>
</div>