description = "Default layout"

[Login]
loginLabel = "Login"
logoutLabel = "Logout"

[Register]
btnLabel = "Register"
==
{% component 'Login' %}<!DOCTYPE html>
<html>
    <head>
        {% partial 'site/meta' %}
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Header -->
        {% partial 'site/header' %}

        <!-- Content -->
        {% page %}

        <!-- Footer -->
        {% partial 'site/footer' %}



        <!-- Flash Messages -->
        <div id="layout-flash-messages"></div>

        <!-- Scripts -->
        {% partial 'site/scripts' %}
        {% framework extras %}
    </body>
</html>